Directories
# Binaries
**/bin/
/bin/*
/bin-int/*
!vendor/premake/bin/

# Files
*.user

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user 

# Arc files
*.log
**.json
*.json

# Directories
Arc/vendor/VulkanSDK
Arcanist/assets/cache
scripts/__pycache__